.formMainContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: rgb(226, 222, 222);

	.formLabel {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 25%;
		border: 2px solid rgb(180, 178, 178);
		border-radius: 5px;
		background-color: white;
		padding: 2rem;

		.labelLabel {
			color: rgb(118, 116, 116);
			font-weight: 800;
			font-size: 1.5rem;
		}

		.inputLabel {
			width: 80%;
			font-size: 1.2rem;
			margin: 0.7rem 0rem 2rem 0rem;
			padding: 0.5rem 1rem 0.5rem 1rem;
			border-radius: 15px;
		}

		.btnLogIn {
			font-size: 1.3rem;
			font-weight: 600;
			color: white;
			padding: 0.9rem;
			border: none;
			border-radius: 8px;
			background-color: rgb(30, 172, 30);
			cursor: pointer;

			&:hover{
				background-color: rgba(30, 172, 30, 0.719);
			}
		}

		.textError {
			padding-top: 1rem;
			color: tomato;
			font-size: 1.2rem;
		}
	}

	.textLoading {
		font-size: 1.5rem;
		color: rgb(59, 59, 245);
	}

}