.headerLabel {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 4px solid rgb(234, 230, 230);
	padding: 0.5rem 2rem 0.7rem 2rem;


	.logoCompContainer {
		width: 5%;
	}
}